@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'locomotive-scroll/dist/locomotive-scroll.css';
:root {
  --background: #000000;
  --foreground: #ededed;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 60s linear infinite;
  width: fit-content;
  display: flex;
}

.animate-slide:hover {
  animation-play-state: paused;
}